.article-deviation:target{
    padding-top: 110px !important;
}

body{
    cursor:
    url(https://cur.cursors-4u.net/symbols/sym-7/sym635.ani), 
    url(https://cur.cursors-4u.net/symbols/sym-7/sym635.png),  
    auto !important;
    background: #fef4e5;
    color: #3b3561;
}

a:hover{
    cursor:
    URL(https://cur.cursors-4u.net/nature/nat-10/nat996.cur),
    auto !important;
} 
button:hover{
    cursor:
    URL(https://cur.cursors-4u.net/nature/nat-10/nat996.cur),
    auto !important;
} 

/* header{
    line-height: 84px;
    z-index: 9999; 
    position: fixed;
    width: 100%;
    top: 0px;
} */

.header{
    height: 150px;
    background: #275677;
    display: flex;
    justify-content: center;    
    align-items: center;   
}

.header .logo img{
    width: 100px;
    margin: 0 10px 0 0;
}

.header h1{
    color: #FFEAB1;
    letter-spacing: 3px;
    text-shadow: 0 0 10px #FFEAB1,0 0 20px #F4F4F4;
    font-size: 30px;
}

/* banner */
.banner{
    background-color: #fef4e5;
    height: 500px;
}

.owl-theme .owl-nav.disabled+.owl-dots {
    margin-top: 0px;
    position: relative;
}
.owl-theme .owl-dots .owl-dot.active span {
    background: #275677;
}
.owl-theme .owl-dots .owl-dot span {
    background: #a5b4c4;
}

.introduction{
    height: 320px;
    width: 100%;
    display: flex;
    justify-content: center;    
}
.introductioncontainer h2{
    white-space: pre-wrap;
    line-height: 2;
}

/* 下拉選單1 */
button{
    border: #3b3561 1.8px solid;
}

.dropdown{
    background-color:  #ffd151;
    color: #3b3561;
    letter-spacing: 3px;
    font-size: 20px;
    font-weight: bold;
    height: 60px;
    width: 100%;
    display: flex;
    justify-content: center; 
    text-align: center;
    line-height: 60px;
}

.dropdown:hover{
    text-decoration: none;
    background-color:  #e3b126;
    color: #ffffff;
}

.dropdown-item:hover{
    background-color:  rgba(255, 209, 81, 0.2);
}


/* 回頂端按鈕 */
.toTopBtn{
    display: block;
    position: fixed;
    cursor: pointer;
    right: 30px;
    bottom: 30px;
    width: 45px;
    height: 45px;
    background: #3b3561;
    color: rgb(255, 255, 255);
    font-size: x-large;
    z-index: 9999;
    box-shadow: 1px 1px 8px #7b717e;
    border-radius: 5px;
    opacity: 0.5;
    filter: Alpha(opacity=50);
    transform: translateY(0%);
    transition: all 0.2s linear;
}
.toTopBtn:hover{
    opacity: 0.9;
    filter: Alpha(opacity=90);
    cursor:
    URL(https://cur.cursors-4u.net/nature/nat-10/nat996.cur),
    auto !important;
} 

.toTopBtn.hide{
    opacity: 0;
    filter: Alpha(opacity=0);
    transform: translateY(150%);
}

.toTopBtn i {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* footer */
.footer{
    background: linear-gradient(to top, #275677, #6f7d8c);
    color: #F4F4F4;
    height: 300px;
    padding: 50px 30px 0;
}
.footer .info h2{
    color: #FFEAB1;
    text-shadow: 0 0 5px #FFEAB1;
    white-space: pre-wrap;
    line-height: 1.5;
    letter-spacing: 1px;
}
.footer .info p{
    white-space: pre-wrap;
    line-height: 1.5;
}


/* 響應式 RWD 
--------------------------*/
@media (min-width:1681px) and (max-width:1920px) {
    
}

@media (min-width:1550px) and (max-width:1680px) {
   
}

@media (min-width:1300px) and (max-width:1549.9px) {
    
}

@media (min-width:1200px) and (max-width:1299.9px) {
    
}

@media (min-width:992px) and (max-width:1199.9px) {
     
}

@media (min-width:768px) and (max-width:991px) {
     
}

@media (min-width:576px) and (max-width:767.9px) {
    
}

@media (min-width:376px) and (max-width:575.9px) {
    
}

@media (min-width:321px) and (max-width:375.9px) {
    
}

@media (min-width:0px) and (max-width:321px) {
    
}