.article-deviation:target{
    padding-top: 110px !important;
}

body{
    cursor:
    url(https://cur.cursors-4u.net/symbols/sym-7/sym635.ani), 
    url(https://cur.cursors-4u.net/symbols/sym-7/sym635.png),  
    auto !important;
    background: #fff8ee;
    color: #3b3561;
}

a:hover{
    cursor:
    URL(https://cur.cursors-4u.net/nature/nat-10/nat996.cur),
    auto !important;
} 
button:hover{
    cursor:
    URL(https://cur.cursors-4u.net/nature/nat-10/nat996.cur),
    auto !important;
} 

/* header{
    line-height: 84px;
    z-index: 9999; 
    position: fixed;
    width: 100%;
    top: 0px;
} */

.header{
    height: 150px;
    background: #1b496a;
    display: flex;
    justify-content: center;    
    align-items: center;   
}
.header .logo img{
    width: 100px;
    margin: 0 10px 0 0;
}
.header h1{
    color: #FFEAB1;
    letter-spacing: 3px;
    text-shadow: 0 0 10px #FFEAB1,0 0 20px #F4F4F4;
    font-size: 30px;
}

/* banner */
.banner{
    background-color: #fff8ee;
    height: 500px;
}
.owl-theme .owl-nav.disabled+.owl-dots {
    margin-top: 0px;
    position: relative;
}
.owl-theme .owl-dots .owl-dot.active span {
    background: #275677;
}
.owl-theme .owl-dots .owl-dot span {
    background: #a5b4c4;
}

/* .introduction{
    height: 320px;
    width: 100%;
    display: flex;
    justify-content: center;    
}
.introductioncontainer h2{
    white-space: pre-wrap;
    line-height: 2;
} */

/* 下拉選單1 */
.menu{
    width: 500px;
    margin: 10px auto;
}
.listA, .listB, .listC, .listD{
    margin: 0 0 100px 0;
}
.listA h3, .listB, .listC h3, .listD h3{
    border: rgba(59, 53, 97, 0.8) 1.8px solid;	
    color: #3b3561;
    letter-spacing: 10px;
    font-size: 24px;
    font-weight: bold;
    padding: 10px;
    height: 60px;
    width: 100%;
    display: flex;
    justify-content: center; 
    text-align: center;
}

/* A */
.listA h3{
    background-color:  #fdde45;
}
.listA h3:hover, .listA h3.active{
    background-color:  #e0ab2f;
    color: #ffffff;
}
.listA a, .listA h4{
    color: #3b3561;
    margin: 10px;
    font-size: 20px;
    text-align: center;
    letter-spacing: 3px;
}
.listA h4{
    display: none;
}
.listA h4:hover{
    background-color:  rgba(255, 209, 81, 0.2);
}
/* B */
.listB{
    background-color:  #82bcec;
}
.listB:hover{
    text-decoration: none;
    background-color:  #2f84a5;
    color: #ffffff;
}
/* C */
.listC h3{
    background-color:  #fdde45;
}
.listC h3:hover, .listC h3.active{
    background-color:  #e0ab2f;
    color: #ffffff;
}
.listC h5{
    color: #3b3561;
    margin: 10px;
    font-size: 20px;
    text-align: center;
    text-align: left;
    white-space: pre-wrap;
    line-height: 1.5;
    display: none;
}
/* D */
.listD h3{
    background-color:  #82bcec;
}
.listD h3:hover{
    text-decoration: none;
    background-color:  #2f84a5;
    color: #ffffff;
}
.listD a, .listD h4{
    color: #3b3561;
    margin: 10px;
    font-size: 20px;
    text-align: center;
    letter-spacing: 3px;
}
.listD h4{
    display: none;
}
.listD h4:hover{
    background-color:  rgba(144, 191, 251, 0.2);
}

hr{
    border-color: rgba(59, 53, 97, 0.4);
    margin: 10px;
    display: none;
}
a:hover{
    text-decoration: none;
}

/* 回頂端按鈕 */
.toTopBtn{
    display: block;
    position: fixed;
    cursor: pointer;
    right: 30px;
    bottom: 30px;
    width: 45px;
    height: 45px;
    background: rgb(155, 86, 187);
    color: rgb(255, 255, 255);
    font-size: x-large;
    z-index: 9999;
    box-shadow: 1px 1px 8px #7b717e;
    border-radius: 5px;
    opacity: 0.7;
    filter: Alpha(opacity=50);
    transform: translateY(0%);
    transition: all 0.2s linear;
}
.toTopBtn:hover{
    opacity: 0.9;
    filter: Alpha(opacity=90);
    cursor:
    URL(https://cur.cursors-4u.net/nature/nat-10/nat996.cur),
    auto !important;
} 
.toTopBtn.hide{
    opacity: 0;
    filter: Alpha(opacity=0);
    transform: translateY(150%);
}
.toTopBtn i {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* footer */
.footer{
    background: linear-gradient(to top, #275677, #6f7d8c);
    color: #b8c6d7;
    height: 300px;
    padding: 50px 30px 0;
}
.footer .info h2{
    color: #FFEAB1;
    text-shadow: 0 0 5px #FFEAB1;
    white-space: pre-wrap;
    line-height: 1.5;
    letter-spacing: 1px;
}
.footer .info p{
    white-space: pre-wrap;
    line-height: 1.5;
}


/* 響應式 RWD 
--------------------------*/
@media (min-width:1681px) and (max-width:1920px) {
    .header{
        height: 250px;
    }
    .header .logo img{
        width: 200px;
    }
    .header h1{
        font-size: 40px;
    }
    .banner{
        height: 520px;
    }
    .menu{
        width: 750px;
        margin: 15px auto;
    }
    .listA, .listB, .listC, .listD{
        margin: 0 0 85px 0;
    }
    .listA h3, .listB, .listC h3, .listD h3{
        font-size: 30px;
        height: 70px;
    }
    .listA a, .listA h4{
        font-size: 28px;
    }
    .listC h5{
        font-size: 28px;
    }
    .listD h4{
        font-size: 28px;
    }

    .toTopBtn{
        width: 65px;
        height: 65px;
    }

    .footer .info h2{
        font-size: 40px;
    }
    .footer .info p{
        font-size: 20px;
    }
    .footer{
        height: 360px;
    }

}

@media (min-width:1550px) and (max-width:1680px) {
    .header{
        height: 200px;
    }
    .header .logo img{
        width: 180px;
    }
    .header h1{
        font-size: 38px;
    }
    .banner{
        height: 450px;
    }
    .menu{
        width: 600px;
        margin: 10px auto;
    }
    .listA, .listB, .listC, .listD{
        margin: 0 0 85px 0;
    }
    .listA h3, .listB, .listC h3, .listD h3{
        font-size: 28px;
        height: 65px;
    }
    .listA a, .listA h4{
        font-size: 26px;
    }
    .listC h5{
        font-size: 26px;
    }
    .listD h4{
        font-size: 26px;
    }
    
    .toTopBtn{
        width: 60px;
        height: 60px;
    }

    .footer .info h2{
        font-size: 34px;
    }
    .footer .info p{
        font-size: 18px;
    }
    .footer{
        height: 300px;
    }
}

@media (min-width:1300px) and (max-width:1549.9px) {
    .header{
        height: 200px;
    }
    .header .logo img{
        width: 180px;
    }
    .header h1{
        font-size: 38px;
    }
    .banner{
        height: 430px;
    }
    .menu{
        width: 600px;
        margin: 10px auto;
    }
    .listA, .listB, .listC, .listD{
        margin: 0 0 85px 0;
    }
    .listA h3, .listB, .listC h3, .listD h3{
        font-size: 24px;
        height: 60px;
    }
    .listA a, .listA h4{
        font-size: 22px;
    }
    .listC h5{
        font-size: 22px;
    }
    .listD h4{
        font-size: 22px;
    }

    .toTopBtn{
        width: 50px;
        height: 50px;
    }

    .footer .info h2{
        font-size: 34px;
    }
    .footer .info p{
        font-size: 18px;
    }
    .footer{
        height: 300px;
    }
}

@media (min-width:1200px) and (max-width:1299.9px) {
    .header{
        height: 170px;
    }
    .header .logo img{
        width: 150px;
    }
    .header h1{
        font-size: 34px;
    }
    .banner{
        height: 370px;
    }
    .menu{
        width: 550px;
        margin: 5px auto;
    }
    .listA, .listB, .listC, .listD{
        margin: 0 0 80px 0;
    }
    .listA h3, .listB, .listC h3, .listD h3{
        font-size: 24px;
        height: 60px;
    }
    .listA a, .listA h4{
        font-size: 22px;
    }
    .listC h5{
        font-size: 22px;
    }
    .listD h4{
        font-size: 22px;
    }

    .footer .info h2{
        font-size: 32px;
    }
    .footer .info p{
        font-size: 16px;
    }
    .footer{
        height: 300px;
    }
}

@media (min-width:992px) and (max-width:1199.9px) {
    .header{
        height: 150px;
    }
    .header .logo img{
        width: 130px;
    }
    .header h1{
        font-size: 30px;
    }
    .banner{
        height: 350px;
    }
    .menu{
        width: 500px;
        margin: 5px auto;
    }
    .listA, .listB, .listC, .listD{
        margin: 0 0 70px 0;
    }
    .listA h3, .listB, .listC h3, .listD h3{
        font-size: 22px;
        height: 55px;
    }
    .listA a, .listA h4{
        font-size: 20px;
    }
    .listC h5{
        font-size: 20px;
    }
    .listD h4{
        font-size: 20px;
    }

    .footer .info h2{
        font-size: 29px;
    }
    .footer .info p{
        font-size: 14px;
    }
    .footer{
        height: 300px;
    }

}

@media (min-width:768px) and (max-width:991px) {
    .header{
        height: 100px;
    }
    .header .logo img{
        width: 100px;
    }
    .header h1{
        font-size: 24px;
    }
    .banner{
        height: 280px;
    }
    .menu{
        width: 400px;
        margin: 5px auto;
    }
    
    .footer .info h2{
        font-size: 24px;
    }
    .footer .info p{
        font-size: 14px;
    }
    .footer{
        height: 300px;
    }

}

@media (min-width:576px) and (max-width:767.9px) {
    .header{
        height: 100px;
    }
    .header .logo img{
        width: 90px;
    }
    .header h1{
        font-size: 24px;
    }
    .banner{
        height: 220px;
    }
    .menu{
        width: 400px;
        margin: 5px auto;
    }
    .listA, .listB, .listC, .listD{
        margin: 0 0 60px 0;
    }
    .listA h3, .listB, .listC h3, .listD h3{
        font-size: 20px;
        height: 50px;
    }
    .listA a, .listA h4{
        font-size: 18px;
    }
    .listC h5{
        font-size: 18px;
        line-height: 1.3;
    }
    .listD h4{
        font-size: 18px;
    }
    /* .listA h3, .listB h3{
        height: 50px;
        font-size: 18px;
    }
    .listA a{
        font-size: 16px;
    }
    .listA h4{
        font-size: 16px;
    }
    .listB a{
        font-size: 16px;
    }
    .listB h4{
        font-size: 16px;
    }
    .listA h5{
        font-size: 16px;
    } */

    .footer .info h2{
        font-size: 22px;
    }
    .footer .info p{
        font-size: 14px;
    }
    .footer{
        height: 300px;
    }
}

@media (min-width:376px) and (max-width:575.9px) {
    .header{
        height: 100px;
    }
    .header .logo img{
        width: 70px;
    }
    .header h1{
        font-size: 24px;
    }
    .banner{
        height: 170px;
    }
    .menu{
        width: 300px;
        margin: 5px auto;
    }
    .listA, .listB, .listC, .listD{
        margin: 0 0 45px 0;
    }
    .listA h3, .listB, .listC h3, .listD h3{
        font-size: 18px;
        height: 50px;
    }
    .listA a, .listA h4{
        font-size: 16px;
    }
    .listC h5{
        font-size: 16px;
        line-height: 1.2;
    }
    .listD h4{
        font-size: 16px;
    }

    .footer .info h2{
        font-size: 18px;
    }
    .footer .info p{
        font-size: 12px;
    }
    .footer{
        height: 270px;
    }
}

@media (min-width:321px) and (max-width:375.9px) {
    .header{
        height: 80px;
    }
    .header .logo img{
        width: 65px;
    }
    .header h1{
        font-size: 20px;
    }
    .banner{
        height: 120px;
    }
    .menu{
        width: 250px;
        margin: 5px auto;
    }
    .listA, .listB, .listC, .listD{
        margin: 0 0 30px 0;
    }
    .listA h3, .listB, .listC h3, .listD h3{
        font-size: 16px;
        height: 50px;
    }
    .listA a, .listA h4{
        font-size: 14px;
    }
    .listC h5{
        font-size: 14px;
        line-height: 1.2;
    }
    .listD h4{
        font-size: 14px;
    }
    
    .toTopBtn{
        width: 40px;
        height: 40px;
    }

    .footer .info h2{
        font-size: 20px;
    }
    .footer .info p{
        font-size: 10px;
    }
    .footer{
        height: 270px;
    }

}

@media (min-width:0px) and (max-width:321px) {
    .header{
        height: 60px;
    }
    .header .logo img{
        width: 50px;
    }
    .header h1{
        font-size: 18px;
    }
    .banner{
        height: 100px;
    }
    .menu{
        width: 250px;
        margin: 5px auto;
    }
    .listA, .listB, .listC, .listD{
        margin: 0 0 30px 0;
    }
    .listA h3, .listB, .listC h3, .listD h3{
        font-size: 16px;
        height: 50px;
    }
    .listA a, .listA h4{
        font-size: 14px;
    }
    .listC h5{
        font-size: 14px;
        line-height: 1.2;
    }
    .listD h4{
        font-size: 14px;
    }

    .toTopBtn{
        width: 35px;
        height: 35px;
    }

    .footer .info h2{
        font-size: 18px;
    }
    .footer .info p{
        font-size: 10px;
    }
    .footer{
        height: 200px;
    }

}